*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #694dbb;
}

nav{
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
}



.quant{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.quant>div{
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 30%;
    height: 100%;
    font-size: 18px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.count>div div{
    width: 30%;
    display: flex;
    align-items: center;
}

.hero{
    width:100vw;
    height: 90vh;
    background-color: cadetblue;
}

.hero>form{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.hero>form input{
    padding: 12px;
    border-radius: 19px;
    outline: none;
    border: none;
    margin: 10px;
}

#button{
    cursor: pointer;
    background-color:#694dbb;
    color: white;
    &:hover{
        background-color: lightgray;
        color: black;
    }
}

.button{
    padding: 6px;
    border-radius: 15px;
    border: none;
    background-color: #0ea5e1;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width :600px) {

    .hero{
        margin-top: 25px;
    }

    .hero>form{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .hero>form input{
        width: 100%;
        padding: 10px;
        border-radius: 19px;
        outline: none;
        border: none;
        /* margin: 10px; */
    }

    nav{
        width: 100vw;
        height: auto;
        padding: 10px;
        display: block;
    }

    .quant{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }


    .count>div div{
        width: 30%;
        display: block;
        /* align-items: center; */
    }

    .button{
        /* margin-bottom: 80px; */
        margin-left: 10px;
        /* width: 50px; */
        padding: 2px;
        border-radius: 10px;
        border: none;
        background-color: #0ea5e1;
        color: white;
        cursor: pointer;
    }
    
}

@media only screen and(min-width :601px) and (max-width:900px){

    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero>form{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .hero>form input{
        width: 100%;
        padding: 10px;
        border-radius: 19px;
        outline: none;
        border: none;
        /* margin: 10px; */
    }
}
