*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100vw;
    height: 70px;
    background-color: #694dbb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.quant{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;

}

.quant>div{
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 30%;
    height: 100%;
    font-size: 18px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quant>div div{
    width: 30%;
    display: flex;
    align-items: center;
}

.container{
    color: white;
    width: 100vw;
    height: auto;
    background-color: rgb(14, 94, 89);
    border: 1px solid black;
}



.studentDiv{
    border-top: 1px solid black;
    background-color: rgba(3, 84, 57, 0.558);
    margin-top: 10px;
    width: 100%;
    height: 50px;
    padding: 8px;
    /* margin: 10px; */
    /* background-color: red; */
    border-bottom:1px solid black;
    /* color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btn{
    padding: 10px;
    border-radius: 15px;
    color: white;
    background-color: blueviolet;
    border: none;
    cursor: pointer;
}


.dash{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn2{
    padding: 10px;
    background-color: #694dbb;
    color: aliceblue;
    border: none;
    border-radius: 12px;
    margin-top: 5px;
    cursor: pointer;
}